h2{
    color: #5a29ff;
    font-size: 50px;
    background-color: yellow;
}
h3{
    color: #2fff1f;
}
p{
    color: #1475ff;
    font-size: 30px;
    font-weight: bolder;
    font-family: "American Typewriter";
    font-style: italic;
}
a{
    color: darkred;
    text-decoration: none;
    border: 1px solid blueviolet;
    background-color: #ffe04f;
    padding: 5px;
    margin:10px;
    display: inline-block;
}
a:hover{
    background-color: red;
    color: yellow;
}
img{
    border: 10px solid #3ac70f;
    box-shadow: darkgreen 5px 5px 5px 5px;
}
ul{
    list-style: none;
}
ul li:before{
    content: "✓";
    color: #ff3a38;
    display: inline-block;
    font-weight: bolder;
    width: 1em;
    margin-left: -1px;
    font-size: 40px;
}
iframe{
    width: 300px;
    height: 200px;
    border: 3px solid #272727;
    box-shadow: #6f6f6f 5px 5px 5px 5px;
}