body{
    background-color: #7d0461;
}
.form-control {
    display: block;
    width: 99%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.container-fluid{
    width: 95%;
    margin: 20px 20px 0px 10px;
    background-color: floralwhite;
    height: auto;
    box-shadow: #401240  5px 5px 5px 5px;
    border: #783535 5px double;
}
fieldset {
    background-color: white !important;
    display: block;
    margin-inline-start: 2px;
    margin-inline-end: 2px;
    padding-block-start: 0.35em;
    padding-inline-start: 0.75em;
    padding-inline-end: 0.75em;
    padding-block-end: 0.625em;
    min-inline-size: min-content;
    border-width: 2px;
    border-style: groove;
    border-color: threedface;
    border-image: initial;
}
legend{
    width: auto !important;
}
#myform table{
    margin: 10px auto;
    width: 70%;
}
#myform table td:first-child{
width: 200px;
}
.formlabel{
    text-align: right;
    font-weight: bold;
    font-size: 110%;
    padding-right: 20px;
}
.formelement{
    padding: 10px;
}
.formtitle{
    text-align: center;
    font-size: 2.5em;
    font-weight: bold;
    color: darkred;
    font-family: "American Typewriter";
}
/*the container must be positioned relative:*/
.custom-select {
    position: relative;
    font-family: Arial;
}
.custom-select select {
    display: none; /*hide original SELECT element:*/
}
.select-selected {
    background-color: DodgerBlue;
}
/*style the arrow inside the select element:*/
.select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
}
/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
}
/*style the items (options), including the selected item:*/
.select-items div,.select-selected {
    color: #ffffff;
    padding: 8px 16px;
    border: 1px solid transparent;
    border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
    cursor: pointer;
    user-select: none;
}
/*style items (options):*/
.select-items {
    position: absolute;
    background-color: DodgerBlue;
    top: 100%;
    left: 0;
    right: 0;
    z-index: 99;
}
/*hide the items when the select box is closed:*/
.select-hide {
    display: none;
}

.select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}
.form_check_icon{
    float: right;
    width: 15px;
    position: relative;
    top: -44px;
    left: 20px;
    display: none;
}
